.overflow-button {
    height: 50px;
    display: block;
    color: #444;
    font-weight: bold;
    font-size: 17px;
    background-color: transparent;
    line-height: 20px;
    display: flex;
    min-width: 100%;
    align-items: center;
    padding: 0px 28px 0px 18px;
    transition: background-color 0.21s;
}
.overflow-button i {
    font-size: 20px !important;
    padding-right: 16px;
}
.overflow-button.dark {
    color: #BFBFBF;   
}
.overflow-button:hover, .overflow-button:active {
    background-color: #e6e6e6;
}
.overflow-button.dark:hover, .overflow-button.dark:active {
    background-color: #191919;
}