#trip-activity {
    z-index: 6;
    transform: translateX(40px);
}
#trip-activity .receipt-content {
    width: 50px;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    left: 0px;
    bottom: 0px;
    height: 100%;
    overflow: hidden;
}
#trip-activity .top-bar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding-left: 170px;
    top: 0px;
    padding-right: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    overflow: hidden;
    background-color: white;
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
@media all and (min-width: 1031px) {
    #trip-activity .top-bar {
        transform: translateY(0px) !important;
    }
}
#trip-activity .top-bar.dark {
    background-color: black;
}
#trip-activity .back-button {
    background-color: transparent;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #444;
    height: 130px;
    width: 130px;
    padding: 0px;
    justify-content: center;
    border-radius: 100%;
}
@media all and (max-width: 1100px) {
    #trip-activity .top-bar {
        padding-left: 150px;
    }
}
@media all and (max-width: 550px) {
    #trip-activity .top-bar {
        padding-left: 10px;
    }
}
#trip-activity .back-button.dark {
    color: #BFBFBF;
}
#trip-activity .back-button:hover, #trip-activity .back-button:active {
    background-color: #ececec;
}
#trip-activity .back-button.dark:hover, #trip-activity .back-button.dark:active {
    background-color: #131313;
}
#trip-activity .back-icon {
    margin-right: 12px;
    margin-left: -4px;
    font-size: 22px !important;
}
#trip-activity .middle-content {
    position: relative;
    width: 370px;
    background-color: #f1f1f1;
}
#trip-activity .main-content {
    background-color: #e1e1e1;
    position: relative;
}
#trip-activity .middle-content.dark {
    background-color: #0e0e0e;
}
#trip-activity .main-content.dark {
    background-color: #1e1e1e;
}
#trip-activity .trip-activity-content {
    position: fixed;
    top: 60px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
}
#trip-activity .trip-activity-content.dark {
    background-color: #0f0f0f;
}
#trip-activity .main-content {
    max-width: 630px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 10px 0px 0px 10px;
    overflow-x: hidden;
}
#trip-activity .receipt-content {
    width: 370px;
    justify-self: center;
    position: relative;
}
.middle-receipt-content {
    display: flex;
    background: linear-gradient(0deg, white, white 30%, #f1f1f1 80%);
    margin: 10px 0px 0px 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.middle-receipt-content.dark {
    background: linear-gradient(0deg, black, black 30%, #0e0e0e 80%);
}
@media all and (min-width: 1371px) {
    #trip-activity .receipt-content {
        transform: translateY(0px) !important;
    }
}
@media all/*screen*/ and (max-width: 1370px) {
    @media all/*screen*/ and (min-width: 1031px) {
        #trip-activity .receipt-content {
            height: auto;
            position: absolute;
            bottom: 0px;
            background-color: white;
            transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        #trip-activity .receipt-content.dark {
            background-color: black;
        }
        #trip-activity .middle-content {
            height: 100%;
            padding-bottom: 0px;
            background-color: transparent;
        }
        #trip-activity .middle-content.dark {
            background-color: transparent;
        }
        .middle-receipt-content {
            flex-direction: column-reverse;
            position: relative;
            background: linear-gradient(180deg, white, white 30%, #f1f1f1 80%);
        }
        .middle-receipt-content.dark {
            background: linear-gradient(180deg, black, black 30%, #0e0e0e 80%);
        }
    }
}
@media all/*screen*/ and (max-width: 1030px) {
    @media all and (min-width: 751px) {
        #trip-activity .receipt-content {
            height: 100%;
            transform: translateY(0px) !important;
        }
        #trip-activity .middle-content {
            height: 100%;
            border-top-right-radius: 8px;
            background-color: transparent;
            border-top-left-radius: 8px;
        }
        #trip-activity .middle-content.dark {
            background-color: transparent;
        }
        .middle-receipt-content {
            flex-direction: row;
            background: none;
            background-color: white;
        }
        .middle-receipt-content.dark {
            background-color: black;
        }
        #trip-activity .main-content {
            display: none;
            position: fixed;
            background-color: white;
            z-index: 11;
            height: 600px;
            max-height: 100%;
            width: 700px;
            border-radius: 8px;
            opacity: 0;
            transform: translateX(40px);
            transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
            margin: 0px;
        }
        #trip-activity .main-content {
           background-color: black;
        }
    }
    .ps-mobile-top-view {
        display: none;
    }
}
@media all/*screen*/ and (max-width: 750px) {
    #trip-activity .receipt-content {
        height: auto;
        position: absolute;
        bottom: 0px;
        background-color: white;
        transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    #trip-activity .receipt-content.dark {
        background-color: black;
    }
    #trip-activity .middle-content {
        height: 100%;
        padding-bottom: 0px;
        background-color: transparent;
    }
    #trip-activity .middle-content.dark {
        background-color: transparent;
    }
    .middle-receipt-content {
        flex-direction: column-reverse;
        position: relative;
        background: linear-gradient(180deg, white, white 30%, #f1f1f1 80%);
        margin-top: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .middle-receipt-content.dark {
        background: linear-gradient(180deg, black, black 30%, #0e0e0e 80%);
    }
    #trip-activity .main-content {
        height: 100%;
        margin: 0px;
        position: fixed;
        z-index: 11;
        display: none;
        width: 100%;
        border-top-left-radius: 0px;
        transform: translateX(40px);
        opacity: 0;
        transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        max-width: none;
        top: 0px;
    }
}