#trip-activity {
    z-index: 7;
    transform: translateX(40px);
}
#trip-activity .receipt-content {
    width: 50px;
    z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
}
#trip-activity .top-bar {
    position: fixed;
    left: 212px;
    top: 0px;
    right: 40px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
#trip-activity .back-button {
    background-color: transparent;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #5F5F5F;
    height: 48px;
    padding: 0px 20px 0px 14px;
    border-radius: 24px;
}
#trip-activity .back-button.dark {
    color: #A0A0A0;
}
#trip-activity .back-button:hover, #trip-activity .back-button:active {
    background-color: #ececec;
}
#trip-activity .back-button.dark:hover, #trip-activity .back-button.dark:active {
    background-color: #131313;
}
#trip-activity .back-icon {
    margin-right: 16px;
    font-size: 26px !important;
}
#trip-activity .middle-content {
    position: relative;
    width: 400px;
    background-color: #e8e8e8;
}
#trip-activity .main-content {
    background-color: #e1e1e1;
    position: relative;
}
#trip-activity .middle-content.dark {
    position: relative;
    width: 400px;
    background-color: #171717;
}
#trip-activity .main-content.dark {
    background-color: #1e1e1e;
    position: relative;
}
#trip-activity .trip-activity-content {
    position: fixed;
    top: 72px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
}
#trip-activity .trip-activity-content.dark {
    background-color: #0f0f0f;
}
@media all/*screen*/ and (min-width: 1430px) {
    #trip-activity .trip-activity-content {
        justify-content: flex-start;
    }
    #trip-activity .main-content {
        flex: 1;
    }
    #trip-activity .receipt-content {
        width: 350px;
        justify-self: center;
        position: relative;
    }
}
@media all/*screen*/ and (max-width: 1080px) {
    #trip-activity .trip-activity-content {
        display: block;
        overflow-y: scroll;
    }
    #trip-activity .middle-content {
        margin: 0px auto;
    }
    #trip-activity .main-content {
        max-width: 900px;
        margin: 0px auto;
    }
}