.sort-widget-wrap {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    margin-left: 72px;
}
.sort-widget-title {
    color: #5F5F5F;
    margin-right: 16px;
    margin: 0px;
    font-weight: 400;
}
.sort-widget-selected, .sort-widget-expand {
    color: #62B3E4;
    margin: 0px;
}
.sort-widget-selected {
    margin-left: 8px;
}
.sort-widget-expand i {
    margin-left: 4px;
}
.sort-widget-expand {
    background-color: transparent;
    padding: 0px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    padding: 0px 12px 0px 16px;
    margin-left: -16px;
    margin-top: 8px;
}
.arrow {
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.rotated {
    transform: rotate(180deg);
}
.sw-choice-wrap {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 170px;
    left: 70px;
    top: 4px;
    height: 150px;
    opacity: 1;
    position: absolute;
    transition: height 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
    box-shadow: 1px 1px 10px -4px #999;
    z-index: 10;
}
.sw-master {
    position: relative;
}
.no-height {
    height: 0px;
    opacity: 0;
}
.sw-choice {
    display: block;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 18px;
    color: #62B3E4;
}
@media only all/*screen*/ and (max-width: 700px) {
    .sort-widget-wrap {
        margin-left: 0px;
        margin-bottom: 16px;
    }
    .sort-widget-title {
        padding-left: 10px;
    }
    .sw-master {
        width: 300px;
        margin: 0px auto 0px;
    }
} 