.sort-widget-wrap {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}
.sort-widget-title {
    color: #444;
    margin-right: 16px;
    margin: 0px;
    font-weight: 400;
}
.sort-widget-title.dark {
    color: #BFBFBF;
}
.sort-widget-selected, .sort-widget-expand {
    color: #62B3E4;
    margin: 0px;
}
.sort-widget-selected.dark, .sort-widget-expand.dark {
    color: #1C6D9E;
}
.sort-widget-selected {
    margin-left: 8px;
}
.sort-widget-expand i {
    margin-left: 4px;
}
.sort-widget-expand {
    background-color: transparent;
    padding: 0px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 0px 12px 0px 16px;
    transition: background-color 0.21s;
}
.sort-widget-expand:hover, .sort-widget-expand:active {
    background-color: #ddd;
}
.sort-widget-expand.dark:hover, .sort-widget-expand.dark:active {
    background-color: #222;
}
.arrow {
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.rotated {
    transform: rotate(180deg);
}
.sw-choice-wrap {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    min-width: 70%;
    margin-left: 15%;
    top: 4px;
    height: 120px;
    opacity: 1;
    position: absolute;
    transition: height 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
    box-shadow: 1px 1px 10px -4px #aaa;
    z-index: 10;
}
.sw-choice-wrap.dark {
    box-shadow: 1px 1px 10px -4px black;
    background-color: black;
}
.sw-master {
    position: relative;
}
.no-height {
    height: 0px;
    opacity: 0;
}
.sw-choice {
    display: block;
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 16px;
    color: #444;
}
.sw-choice.dark {
    color: #BFBFBF;
}
@media only all/*screen*/ and (max-width: 550px) {
    .sort-widget-wrap {
        margin-left: 0px;
        margin-top: 6px;
        margin-bottom: 16px;
    }
    .sort-widget-expand {
        font-size: 16px;
    }
    .sort-widget-title {
        padding-left: 10px;
    }
    .sw-master {
        width: 200px;
        margin: 0px auto 0px;
    }
} 