.overflow-menu {
    z-index: 10;
    background-color: white;
    position: fixed;
    height: 0px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px -4px #aaa;
    overflow: hidden;
    opacity: 0;
    transition: height 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
}
.overflow-menu.dark {
    box-shadow: 1px 1px 10px -4px black;
    background-color: #0A0A0A;
}
.overflow-menu p {
    color: #6F6F6F;
    text-align: center;
    line-height: 42px;
    padding: 0px 8px;
    margin: 0px;
}
.overflow-menu.dark p {
    color: #999;
}