.time-input {
    background-color: #f1f1f1;
    border-radius: 18px;
    height: 36px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.31s, border-color 0.31s;
    border: 3px solid transparent;
    box-sizing: border-box;
}
.time-input.dark {
    background-color: #0f0f0f;
}
.ti-colon {
    width: 5px;
    color: #444;
    margin: 0px;
    line-height: 14px;
    height: 14px;
}
.ti-color.dark {
    color: #a0a0a0;
}
.ti-field {
    background-color: transparent;
    border-radius: 18px;
    margin: 0px;
    width: 33px !important;
    padding: 0px !important;
    border: 0px !important;
    text-align: center;
}
.ti-field {
    background-color: transparent !important;
}