.pd-wrap {
    min-height: 210px;
    width: 100%;
    background-color: #e1e1e1;
    overflow-y: scroll;    
    position: relative;
    height: 100%;
}
.pd-outer-wrap {
    transition: opacity 0.31s, transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(40px);
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    opacity: 0;
    display: none;
}
.pd-wrap-inner {
    padding: 70px 0px;
    display: block;
}
.pd-wrap.dark {
    background-color: #1E1E1E;
}
.pd-topbar {
    display: flex;
    height: 40px;
    margin-bottom: 16px;
    justify-content: space-between;
    width: 596px; /*Left margin + width of the gti-section*/
    box-sizing: border-box;
}
.pd-back {
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    color: #5f5f5f;
    font-size: 21px;
    background-color: transparent;
    padding: 0px 14px 0px 12px;
    margin-bottom: 10px;
}
.pd-back.dark {
    color: #A0A0A0;
}
.pd-del {
    color: #777;
}
.pd-del.dark {
    color: #8F8F8F;
}
.pd-back i {
    margin-right: 8px;
}
.pd-back:hover, .pd-back:active {
    background-color: #e8e8e8;
}
.pd-back.dark:hover, .pd-back.dark:active {
    background-color: #171717;
}
.no-left-margin {
    margin-left: 16px; /*Some offset is required*/
}
.above {
    z-index: 3;
}
.travel-picker {
    height: 42px;
    width: 351px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f1f1f1;
    border-radius: 21px;
    overflow: hidden;
}
.travel-picker.dark {
    background-color: #0F0F0F;
}
.tp-button {
    height: 42px;
    background-color: transparent;
    width: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.51s;
    justify-content: center;
}
.tp-button p {
    margin: 0px;
    color: #5F5F5F;
    font-size: 13px;
    text-align: center;
}
.tp-button.dark p {
    color: #A0A0A0;
}
.tp-selected {
    background-color: #d5d5d5;
}
.tp-selected.dark {
    background-color: #2A2A2A;
}
.tp-selected p, .tp-selected i {
    color: #222 !important;
}
.tp-selected.dark p, .tp-selected.dark i {
    color: #DFDFDF !important;
}
.tp-button i {
    color: #5F5F5F;
    font-size: 20px !important;
}
.tp-button.dark i {
    color: #A0A0A0;
}
.city-input {
    position: relative;
}
.city-country-info {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 40%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 42px;
    line-height: 45px;
    margin: 0px 20px 0px 0px;
    color: #999;
    text-align: right;
}
.city-country-info.dark {
    color: #6F6F6F;
}
.trip-point-food-wrap {
    background-color: #f1f1f1;
    border-radius: 22px;
    height: 36px;
    transition: height 0.51s cubic-bezier(0.19, 1, 0.22, 1);
    padding: 2px 12px 6px 12px;
    position: relative;
}
.trip-point-food-wrap.dark {
    background-color: #0F0F0F;
}
.pd-transit-info {
    display: flex;
    align-items: center;
    width: 596px;
    justify-content: flex-start;
    margin-top: 28px;
}
.pd-transit-info i, .pd-transit-info p {
    color: #777;
    margin: 0px 16px;
}
.pd-transit-info.dark i, .pd-transit-info.dark p {
    color: #8F8F8F;
}

.pdi-reset-separator {
    margin: 20px 16px;
    height: 2px;
    width: 580px;
    border-radius: 1px;
    background-color: #d1d1d1;
}
.pdi-reset-separator.dark {
    background-color: #2E2E2E;
}
.pdi-reset-wrap {
    margin: 8px 16px;
    width: 580px;
}
.pdi-reset-text {
    color: #444;
    text-align: center;
}
.pdi-reset-text.dark {
    color: #aaa;
}
.pdi-reset-button {
    margin: 0px auto;
    margin-top: 12px;
    height: 48px;
    border-radius: 24px;
    padding: 0px 15px 0px 12px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    font-size: 17px;
    border: 4px solid white;
    transition: border 0.31s;
}
.pdi-reset-button.dark {
    background-color: black;
    color: #aaa;
    border: 4px solid black;
}
.pdi-reset-button i {
    margin-right: 8px;
}
.pdi-reset-button:hover, .pdi-reset-button:active {
    border: 4px solid #f1f1f1;
}
.pdi-reset-button.dark:hover, .pdi-reset-button.dark:active {
    border: 4px solid #0f0f0f;
}
.pd-only-point-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0px 18px;
    background-color: #f1f1f1;
    height: 42px;
    border-radius: 21px;
    border: 3px solid #f1f1f1;
    box-sizing: border-box;
    transition: background-color 0.21s;
}
.pd-only-point-button.dark {
    border: 3px solid #0f0f0f;
    background-color: #0f0f0f;
}
.pd-only-point-button:hover {
    background-color: white;
}
.pd-only-point-button.dark:hover {
    background-color: black;
}
.pd-only-point-button p {
    color: #5F5F5F;
    margin: 0px 0px 0px 12px;
    font-size: 15px;
}
.pd-only-point-button.dark p {
    color: #A0A0A0;
}
.trip-only-point-info {
    color: gray;
    margin: -14px 16px;
    line-height: 22px;
    height: 44px;
    width: 563px;
    padding: 0px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.trip-only-point-info i {
    display: none;
}