.save-indicator {
    display: flex;
    align-items: center;
}
.si-background {
    background-color: #e1e1e1;
    height: 40px;
    border-radius: 20px;
    display: flex;
    margin-left: 8px;
    align-items: center;
    padding: 0px 8px;
}
.si-trip-name {
    margin: 0px 8px;
}
.si-state, .si-icon {
    color: #5F5F5F;
    margin: 0px 8px;
}