.save-indicator {
    display: flex;
    align-items: center;
    cursor: default;
}
.si-background {
    background-color: #e1e1e1;
    height: 40px;
    border-radius: 20px;
    margin-left: 8px;
    padding: 0px 8px;
    cursor: default;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: width 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.si-background-inner {
    display: flex;
    height: 40px;
    align-items: center;
}
.si-trip-name {
    margin: 0px 8px;
    cursor: default;
}
.si-state, .si-icon {
    color: #5F5F5F;
    margin: 0px 8px;
    cursor: default;
    white-space: nowrap;
}
.si-retry {
    background-color: transparent;
    margin-right: 16px;
    margin-left: 6px;
    color: #5F5F5F;
    font-size: 16px;
    text-decoration: underline;
    white-space: nowrap;
}
.si-retry:hover, .si-retry:active {
    cursor: pointer;
    color: black;
}