p {
    color: #62B3E4;
    font-family: HelveticaNeue, sans-serif;
}
button {
    font-family: HelveticaNeue, sans-serif;
    border: none;
    outline: none;
    padding: 0px;
}
button:hover {
    cursor: pointer;
}
button:disabled {
    cursor: default !important;
}
input {
    border: none;
    height: 36px;
    font-family: HelveticaNeue, sans-serif;
    color: #404040;
    font-weight: 400;
    border-radius: 18px;
    background-color: white;
    border: 3px solid;
    border-color: transparent;
    transition: border-color 0.31s, background-color 0.31s;
    outline: none;
    padding: 0px 16px;
    font-size: 17px;
}
input.dark {
    background-color: black;
    color: white;
}
input:focus {
    border-color: #eee;
}
input.dark:focus {
    border-color: #111;
}
input::placeholder {
    color: #999;
    font-size: 15px;
}
input.dark::placeholder {
    color: #7F7F7F;
}
.activity {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    opacity: 0;
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
    /*transform: translateX(40px);*/
}
.bottom-strip {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    background-color: white;
    z-index: 7;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px 0px 10px -4px #aaa;
    transition: transform 0.31s cubic-bezier(0.19, 1, 0.22, 1);
}
.bottom-strip.dark {
    box-shadow: 0px 0px 10px -4px black;
    background-color: black;

}
.web-app-version {
    font-size: 13px;
    margin: 0px 10px;
    color: black;
}
.api-version {
    font-size: 13px;
    margin: 0px 10px;
    color: black;
}
.changelog-link {
    display: block;
    height: 30px;
    font-size: 13px;
    padding: 0px 12px;
    color: black;
    background-color: transparent;
    font-family: HelveticaNeue, sans-serif;
    line-height: 30px;
    text-decoration: none;
}
.changelog-link:hover, .changelog-link:active {
    background-color: #f1f1f1;
}
.changelog-link.dark:hover, .changelog-link.dark:active {
    background-color: #0f0f0f;
}
.api-version.dark, .web-app-version.dark, .changelog-link.dark {
    color: white;
}
.perfTestBackground {
    position: fixed;
    width: 400%;
    height: 100px;
    left: -150%;
    bottom: 0px;
    background-color: white;
    z-index: 100;
    display: flex;
}
.perfTestBackground.dark {
    background-color: black;
}
.perfTestElement {
    background-color: #ddd;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    z-index: 1;
}
.perfTestElement.dark {
    background-color: #333;
}
#perfTestText {
    color: #aaa;
    font-size: 22px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    width: 600px;
    z-index: 2;
    text-align: center;
    margin: 0px;
    margin-left: -300px;
}
#perfTestText.dark {
    color: #666;
}
.main-show-allowances {
    display: block;
    height: 30px;
    font-size: 13px;
    padding: 0px 12px;
    color: black;
    background-color: transparent;
}
.main-show-allowances.dark {
    color: white;
}
.main-show-allowances:hover, .main-show-allowances:active {
    background-color: #f1f1f1;
}
.main-show-allowances.dark:hover, .main-show-allowances.dark:active {
    background-color: #0f0f0f;
}
@media only all/*screen*/ and (max-width: 700px) {
    .web-app-version, .api-version {
        display: none;
    }
}

.cookie-consent {
    position: fixed;
    bottom: 40px;
    width: 460px;
    max-width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 10px -4px #999;
    z-index: 1000;
    left: 50%;
}
.cookie-consent p {
    font-size: 16px;
    text-align: center;
    padding: 12px 24px 0px 24px;
    margin: 0px;
}
.cookie-consent ul {
    padding-right: 40px;
    box-sizing: border-box;
}
.cookie-consent ul li {
    font-family: HelveticaNeue, sans-serif;
    color: #444;
    font-size: 15px;
}
.cookie-consent button {
    height: 30px;
    width: 150px;
    border-radius: 15px;
    display: block;
    font-size: 16px;
    margin: 0px auto 12px;
    background-color: #62B3E4;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}