p {
    color: #62B3E4;
    font-family: HelveticaNeue, sans-serif;
}
button {
    font-family: HelveticaNeue, sans-serif;
    border: none;
    outline: none;
    padding: 0px;
}
input {
    border: none;
    height: 42px;
    font-family: HelveticaNeue, sans-serif;
    color: #404040;
    font-weight: 300;
    border-radius: 21px;
    background-color: white;
    border: 3px solid;
    border-color: transparent;
    transition: border-color 0.31s, background-color 0.31s;
    outline: none;
    padding: 0px 20px;
    font-size: 20px;
}
input.dark {
    background-color: black;
    color: white;
}
input:focus {
    border-color: #eee;
}
input.dark:focus {
    border-color: #111;
}
input::placeholder {
    color: #ccc;
}
input.dark::placeholder {
    color: #333;
}
.activity {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 0;
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
    /*transform: translateX(40px);*/
}
.web-app-version {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 35.5px;
    font-size: 13px;
    margin: 20px;
    color: black;
}
.api-version {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0px;
    font-size: 13px;
    margin: 20px;
    color: black;
}
.api-version.dark, .web-app-version.dark {
    color: white;
}