.mobile-info-section {
    display: flex;
    justify-content: space-between;
}
.mobile-info-section-title {
    margin: 8px 0px 8px 0px;
    color: #444444;
    font-size: 15px;
    line-height: 18.5px;
    height: 18.5px;
}
.mobile-info-section-title.dark {
    color: #BBBBBB;
}
.mobile-info-section-text {
    margin: 4px 0px 4px 0px;
    font-size: 15px;
    line-height: 18.5px;
    height: 18.5px;
}
.mobile-info-section-text.dark {
    color: #1C6D9E;
}
.mobile-info-button {    
    margin: 10px auto;
    height: 32px;
    font-size: 16px;
    border-radius: 16px;
    width: 160px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
}
.mobile-info-button.dark {
    color: #bbb;
}
.mobile-info-button i {
    font-size: 20px !important;
    margin-right: 8px;
}