.main-button-wrap {
    height: 56px;
    width: 240px;
    line-height: 56px;
    text-align: center;
    background-color: #62B3E4;
    color: white;
    font-weight: 400;
    font-size: 22px;
    border-radius: 28px;
    letter-spacing: 2px;
    transition: background-color 0.35s;
}
.main-button-wrap.dark {
    color: black;
    background-color: #1C6D9E
}
.main-button-wrap:disabled {
    background-color: #999 !important;
}