.trip-receipt {
    width: 100%;
    height: 90%;
    margin-top: 100%;
    box-sizing: border-box;
    width: 350px;
    margin-bottom: 40px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: height 0.51s cubic-bezier(0.19, 1, 0.22, 1), transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), margin 0.51s cubic-bezier(0.19, 1, 0.22, 1), border-radius 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.tr-card {
    padding: 24px;
    padding-bottom: 6px;
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
    position: relative;
    max-width: 270px;
}
.tr-card.dark {
    background-color: black;
}
.tr-separator {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #707070;
}
.tr-separator.dark {
    background-color: #8F8F8F;
}
.tr-total {
    display: flex;
    justify-content: space-evenly;
}
.tr-total p:first-child {
    color: #5F5F5F;
}
.tr-total.dark p:first-child {
    color: #A0A0A0;
}
.tr-total p {
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.tr-expand-wrap {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    right: 0px;
    bottom: 7px;
}
.tr-expand-button {
    width: 36px;
    padding: 14px 0px 10px;
    background-color: transparent;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tr-expand-text {
    writing-mode: vertical-rl;
    color: #444;
    font-size: 16px;
    margin-bottom: 8px;
}
.tr-expand-text.dark {
    color: #aaa;
}
.tr-expand-button i {
    color: #5F5F5F;
    transition: transform 0.31s cubic-bezier(0.19, 1, 0.22, 1);
}
.tr-expand-button.dark i {
    color: #A0A0A0;
}
.tr-valid {
    text-align: center;
    color: #5F5F5F;
}
.tr-valid.dark {
    text-align: center;
    color: #A0A0A0;
}
.tr-unfinished {
    text-align: center;
    color: #5f5f5f;
}
.tr-unfinished.dark {
    text-align: center;
    color: #A0A0A0;
}
.tr-total.dark p {
    color: #1C6D9E;
}

.tr-show-allowances {
    display: block;
    margin: 0px;
    height: 30px;
    font-size: 14px;
    width: 100%;
    color: #444;
    background-color: transparent;
}
.tr-show-allowances.dark {
    background-color: black;
    color: #bfbfbf;
}
.tr-show-allowances:hover, .tr-show-allowances:active {
    background-color: #e6e6e6;
}
.tr-show-allowances.dark:hover, .tr-show-allowances.dark:active {
    background-color: #1a1a1a;
}
.tr-expand-wrap {
    display: none;
}
.tr-card {
    max-width: 350px;
}
.trip-receipt {
    box-shadow: none;
    border-top-right-radius: 0px;
    height: 100%;
    border-bottom-right-radius: 0px;
    margin-top: 0px;
}
.trip-receipt.dark {
    box-shadow: none;
}
.export-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}
.tr-expand-collapse {
    height: 40px;
    background-color: transparent;
    display: none;
    justify-content: center;
    align-items: center;
}
.tr-expand-collapse i {
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
    margin-left: 8px;
}
.tr-expand-collapse.dark, .tr-expand-collapse.dark i {
    color: white;
}

@media all/*screen*/ and (max-width: 1370px) {
    @media all/*screen*/ and (min-width: 1031px) {
        .trip-receipt {
            width: 100%;
            height: auto;
        }
        .tr-expand-collapse {
            display: flex;
        }
    }
}
@media all/*screen*/ and (max-width: 750px) {
    .trip-receipt {
        width: 100%;
        height: auto;
    }
    .tr-expand-collapse {
        display: flex;
    }
}