.food-input-widget {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fiw-row {
    display: flex;
    padding: 6px 0px 6px 0px;
    justify-content: space-between;
    align-items: center;
}
.fiw-title {
    margin: 0px;
    color: #222222;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    width: 50px;
    text-align: center;
}
.fiw-checkbox {
    height: 25px;
    width: 25px;
    border-radius: 4px;
    border: 2px solid #707070;
    background-color: #f1f1f1;
    transition: background-color 0.2s, border 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.fiw-checkbox.dark {
    border: 2px solid #8F8F8F;
    background-color: #0F0F0F;
}
.fiw-checkbox:hover, .fiw-checkbox:active {
    background-color: #e6e6e6;
}
.fiw-checkbox.dark:hover, .fiw-checkbox.dark:active {
    background-color: #191919;
}
.fiw-checkbox-wrap {
    width: 75px;
    display: flex;
    justify-content: center;
}
.fiw-checkbox i {
    display: none;
    color: white;
    height: 21px;
    width: 21px;
    margin-top: 1px;
    font-size: 19px !important;
}
.fiw-checkbox.dark i {
    color: black;
}
.checked {
    background-color: #FAA519;
    border: 2px solid #FAA519;
}
.checked.dark {
    background-color: #e79206;
    border: 2px solid #e79206;
}
.checked:hover, .checked:active {
    background-color: #EA9509;
}
.checked.dark:hover, .checked.dark:active {
    background-color: #EA9509;
}
.checked i {
    display: block;
}
.food-type-title {
    color: #222;
    font-size: 15px;
    text-align: center;
    margin: 0px;
    width: 75px;
}
.food-type-title.dark {
    color: #BFBFBF;
}