.state-wrap {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    margin-top: 13px;
    transition: background-color 0.31s;
    margin-left: 13px;
}
.state-svg {
    height: 46px;
    width: 46px;
}