.receipt-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 20px;
}
.receipt-item > div {
    display: flex;
    align-items: center;
}
.ri-currency {
    font-weight: 300;
    color: #444;
    font-size: 18px;
    margin: 0px;
    margin-right: 14px;
}
.ri-currency.dark {
    color: #BFBFBF;
}
.ri-rate {
    height: 32px;
    border-radius: 16px;
    background-color: white;
    color: #62B3E4;
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    width: 76px;
    padding: 8px;
}
.ri-rate.dark {
    color: #1C6D9E;
    background-color: #0F0F0F;
}
.ri-rate:disabled {
    color: #777;
}
.ri-rate.dark:disabled {
    color: #8F8F8F;
}
.ri-amount {
    font-size: 19px;
    margin: 0px;
}
.ri-amount.dark {
    color: #1C6D9E;
}
.ri-refresh {
    border-radius: 100%;
    color: #444;
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin-left: 12px;
}
.ri-refresh.dark {
    color: #BFBFBF;
}
.ri-refresh:hover, .ri-refresh:active {
    background-color: #e6e6e6;
}
.ri-refresh.dark:hover, .ri-refresh.dark:active {
    background-color: #191919;
}