.export-dialog-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.31s;
    z-index: 8;
}
.export-dialog-content {
    width: 700px;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    z-index: 12;
}
.export-dialog-content.dark {
    background-color: black;
}
.edc-topbar {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}
.edc-title {
    color: #444;
    font-size: 17px;
    margin: 0px;
    line-height: 72px;
}
.edc-title.dark {
    color: #aaa;
}
.edc-back {
    height: 36px;
    padding: 0px 9px 0px 6px;
    border-radius: 18px;
    font-size: 16px;
    margin: 18px 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #5F5F5F;
    transition: background-color 0.31s;
}
.edc-back.dark {
    color: #A0A0A0;
}
.edc-back:hover {
    background-color: #f1f1f1;
}
.edc-back.dark:hover {
    background-color: #0f0f0f;
}
.edc-back i {
    margin-right: 6px;
    font-size: 20px;
}
.edc-span {
    width: 109px;
}
.edc-list-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #444;
}
.edc-list-title.dark {
    color: #AAA;
}
.edc-warning {
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    color: #FF4E0B;
    text-align: left;
    font-family: HelveticaNeue, sans-serif;
}
.edc-warning.dark {
    color: #c32600;
}
.edc-list {
    width: 400px;
    margin: 0px auto;
    text-align: center;
}
/*A lot of this code is also in the other dialogs (feedback, duplication)*/

.edc-sorry {
    border-top: 2px solid #ccc;
    padding-top: 20px;
    color: #5F5F5F;
    text-align: center;
    margin: 20px 100px;
}
.edc-sorry.dark {
    color: #A0A0A0;
    border-top: 2px solid #333;
}
.edc-bottom-bar {
    display: flex;
    justify-content: space-between;
    margin: 0px 80px 72px;
    align-items: center;
}
.edc-export {
    background-color: #62B3E4;
    height: 42px;
    border-radius: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 42px;
    padding: 0px 28px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.edc-export.dark {
    background-color: #1C6D9E;
    color: black;
}

.no-again-text {
    margin: 0px 8px;
    color: #444;
    font-size: 17px;
    line-height: 25px;
    height: 25px;
}
.no-again-text.dark {
    color: #AAA;
}