.cs-wrap {
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 21px;
    height: 212px;
    width: 350px;
    text-align: left;
    box-shadow: 1px 1px 10px -4px #aaa;
    margin-top: 12px;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid #eee;
    transition: opacity 0.31s;
}
.cs-wrap.dark {
    border: 3px solid #1F1F1F;
    box-shadow: 1px 1px 10px -4px #444;
    background-color: #0f0f0f;
}
.cs-wrap button {
    padding: 12px 20px;
    width: 100%;
    max-height: 41px;
    box-sizing: border-box;
    color: #5F5F5F;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cs-wrap.dark button {
    color: #A0A0A0;
}
.cs-wrap button span.country {
    text-align: right;
    color: #777;
    font-size: 15px;
    max-width: 50%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cs-wrap.dark button span.country {
    color: #8F8F8F;
}
.cs-spinner-wrap {
    position: absolute;
    height: 206px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.cs-content-wrap {
    position: absolute;
    height: 206px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s;
}
.cs-content-wrap.dark {
    background-color: #0f0f0f;
}