.dd-wrap {
    position: fixed;
    z-index: 10;
    background-color: white;
    height: 500px;
    width: 700px;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -250px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.35s;
}
.dd-wrap.dark {
    background-color: black;
}
.dd-topbar {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}
.dd-title {
    color: #444;
    font-size: 17px;
    margin: 0px;
    line-height: 72px;
}
.dd-title.dark {
    color: #999;
}
.dd-cancel {
    height: 36px;
    padding: 0px 9px 0px 6px;
    border-radius: 18px;
    font-size: 16px;
    margin: 18px 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #5F5F5F;
    transition: background-color 0.31s;
}
.dd-cancel.dark {
    color: #A0A0A0;
}
.dd-cancel:hover {
    background-color: #f1f1f1;
}
.dd-cancel.dark:hover {
    background-color: #0f0f0f;
}
.dd-cancel i {
    margin-right: 6px;
    font-size: 20px;
}
.dd-span {
    width: 109px;
}
.dd-content {
    padding: 0px 120px;
}
.dd-content > div {
    margin: 12px auto;
    background-color: white !important;
    border: 3px solid #e1e1e1 !important;
}
.dd-content.dark > div {
    background-color: black !important;
    border: 3px solid #1E1E1E !important;
}
.dd-content > p {
    margin-bottom: 28px;
    text-align: center;
}
.dd-content.dark > p {
    color: #1C6D9E;
}