.trip-list {
    margin-bottom: 48px;
}
.no-trips-text {
    text-align: center;
    font-size: 24px;
    margin: 60px auto;
    font-weight: bold;
    color: #a1a1a1;
}
.trip-list-title {
    color: #444;
    font-size: 17px;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.trip-list-title.dark {
    color: #BFBFBF;
}
@media only all/*screen*/ and (max-width: 550px) {
    .no-trips-text {
        font-size: 18px;
        margin: 100px auto;
    }
} 