.welcome-dialog-wrap {
    position: fixed;
    z-index: 8;
    width: 900px;
    height: 600px;
    margin-left: -450px;
    margin-top: -300px;
    left: 50%;
    top: 50%;
    opacity: 0;
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wd-inner {
    width: 900px;
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 456px;
}
.main-welcome {
    color: #62B3E4;
    font-size: 40px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}
.welcome-dialog-backdrop {
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 8;
    background-color: white;
    transition: opacity 0.31s;
}
.wd-bottom-bar {
    width: 100%;
    margin-left: 30px;
    display: flex;
    box-sizing: border-box;
}
.wd-direction {
    height: 50px;
    line-height: 50px;
    border-radius: 32px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #5F5F5F;
    font-size: 24px;
    width: 180px;
    margin: 0px 20px;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    box-sizing: border-box;
    transition: opacity 0.31s, background-color 0.21s;
}
.wd-prev {
    width: 0px;
    margin: 0px;
    opacity: 0;
    transition: width 0.51s cubic-bezier(0.19, 1, 0.22, 1), margin 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.21s, padding 0.51s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.21s;
}
.wd-next span {
    padding-left: 12px;
}
.wd-prev span {
    padding-right: 12px;
}
.wd-prev:hover, .wd-prev:active {
    background-color: #f1f1f1;
}
.wd-next:hover, .wd-next:active {
    background-color: #52A3D4;
}
.wd-next i {
    font-size: 30px !important;
    margin: 0px 0px 0px 8px;
}
.wd-prev i {
    font-size: 30px !important;
    margin: 0px 8px 0px 0px;
}
.wd-direction:last-child {
    background-color: #62B3E4;
    color: white;
}
.wd-direction:disabled {
    color: #999;
}
.wd-indicator-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wd-dot {
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 100%;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.21s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.21s;
}
.wd-selected {
    width: 10px;
    height: 10px;
    margin: 4px 3px;
    background-color: #62B3E4;
}
.wd-main-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 72px;
}
.wd-page {
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.31s;
}
.large-text {
    font-size: 30px;
    color: #999;
    margin-left: 60px;
    opacity: 0;
    transition: opacity 0.31s;
}
.medium-text {
    margin-top: 60px;
    margin-left: 60px;
    font-size: 20px;
    color: #5F5F5F;
    opacity: 0;
    transition: opacity 0.31s;
}
.wd-left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wd-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wd-line {
    background-color: #707070;
    height: 72px;
    width: 4px;
    border-radius: 2px;
    opacity: 0;
    height: 0px;
    transition: opacity 0.21s, height 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.wd-point {
    background-color: #62B3E4;
    height: 64px;
    width: 64px;
    margin: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 0.51s cubic-bezier(0.19, 1, 0.22, 1);
}
.wd-slide-title {
    font-size: 28px;
    color: #777;
    margin-left: 50px;
}
.welcome-dialog-wrap li {
    color: #999;
    font-family: HelveticaNeue, sans-serif;
    font-size: 24px;
    line-height: 32px;
}
.welcome-dialog-wrap ul {
    margin-left: 40px;
}