.point-selector-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: 100%;
}
.point-list-wrap {
    position: relative;
    overflow-y: scroll;
    height: 100%;
}
.point-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-top: 30px;
}
@media all/*screen*/ and (max-width: 1370px) {
    @media all/*screen*/ and (min-width: 1031px) {
        .point-list {
            padding-bottom: 60px;
        }
    }
}
@media all/*screen*/ and (max-width: 750px) {
    .point-list {
        padding-bottom: 60px;
    }
}
.ps-comment {
    color: #5F5F5F;
    text-align: center;
    padding: 40px;
    margin: 0px;
    opacity: 0;
    transition: opacity 0.31s;
}