.gti-wrap {
    padding-top: 40px;
}
.gti-section {
    display: flex;
    position: relative;
    margin: 30px 40px;
}
.less-top {
    margin-top: 15px;
}
.less-top:first-child {
    margin-top: 10px;
}
.gti-section > p {
    margin: 0px;
}
.gti-section input {
    width: 350px;
    background-color: #f1f1f1;
    transition: background-color 0.31s;
}
.gti-section input.dark {
    background-color: #0f0f0f;
}
.gti-section input:focus {
    background-color: white;
}
.gti-section input.dark:focus {
    background-color: black;
}
@media all and (max-width: 630px) {
    .gti-section {
        display: block;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .gti-section input {
        width: 100%;
    }
}
.trip-property-label {
    font-size: 18px;
    color: #444;
    width: 190px;
    line-height: 36px;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    align-self: start;
}
.trip-property-label.dark {
    color: #BFBFBF;
}
#gti-project {
    width: 180px;
    text-align: center;
    margin-right: 20px;
}
#gti-task {
    text-align: center;
    width: 150px;
}
.mandatory-text {
    color: #5F5F5F;
    margin-left: 40px;
}
.mandatory-text.dark {
    color: #A0A0A0;
}
.mobile-top-view {
    margin: 12px 20px 0px;
    padding: 20px;
    padding-bottom: 4px;
    background-color: #f1f1f1;
    border-radius: 8px;
}
.mobile-top-view.dark {
    background-color: #0e0e0e;
}
@media all and (min-width: 1031px) {
    .mobile-top-view {
        display: none;
    }
    .mobile-only {
        display: none;
    }
}
@media all and (max-width: 630px) {
    .trip-property-label {
        display: block;
        padding-left: 16px;
        text-align: left;
        margin-bottom: 8px !important;
    }
    #gti-project {
        width: 150px;
        margin-right: 12px;
        margin-bottom: 8px !important;
    }
    #gti-task {
        width: 120px;
    }
}