.gti-wrap {
    padding-top: 50px;
}
.gti-section {
    display: flex;
    position: relative;
    margin: 30px 50px;
}
.less-top {
    margin-top: 15px;
}
.gti-section > p {
    margin: 0px;
}
.gti-section input {
    width: 350px;
    background-color: #f1f1f1;
    transition: background-color 0.31s;
}
.gti-section input.dark {
    background-color: #0f0f0f;
}
.gti-section input:focus {
    background-color: white;
}
.gti-section input.dark:focus {
    background-color: black;
}
.trip-property-label {
    font-size: 22px;
    color: #5F5F5F;
    width: 230px;
    line-height: 42px;
    margin: 15px 0px;
}
#gti-project {
    width: 180px;
    text-align: center;
    margin-right: 20px;
}
#gti-task {
    text-align: center;
    width: 150px;
}